@keyframes pulse {
  0% {
    filter: brightness(1.2);
  }

  50% {
    filter: brightness(2);
  }

  100% {
    filter: brightness(1.2);
  }
}

@keyframes glow-move {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }

}

@keyframes expand {
  from {
    width: 30%;
  }

  to {
    width: 44%;
  }
}

@keyframes shrink {
  from {
    width: 44%;
  }

  to {
    /* width: 25.346%; */
    width: 30%
  }
}

@keyframes text-expand {
  from {
    width: 100%;
    opacity: 0;
    font-size: small;
  }

  to {
    width: 100%;
    opacity: 1;
    font-size: large;
  }
}

@keyframes visibility0 {
  from {
    display: initial;
    opacity: 1;
  }

  to {
    display: none;
    opacity: 0;
  }
}

@keyframes text-shrink {
  from {
    width: 100%;
    display: initial;
    opacity: 1;
  }

  to {
    width: 100%;
    display: none;
    opacity: 0;
  }
}

@keyframes pulse-glow {
  0% {
    background-color: #0ff;
    box-shadow: 0 0 5px #0ff;
  }

  50% {
    background-color: #0ff;
    box-shadow: 0 0 10px #0ff;
  }

  100% {
    background-color: #0ff;
    box-shadow: 0 0 5px #0ff;
  }
}

@keyframes pulseDate {

  0%,
  100% {
    box-shadow: 0 0 8px rgba(120, 200, 255, 0.2);
  }

  50% {
    box-shadow: 0 0 18px rgba(120, 200, 255, 0.5);
  }
}
