.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: rgb(255 255 255 / 5%);
  margin-right: 4px;
  padding: 4px 8px;
  color: rgb(255 255 255 / 90%);
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &.displayed {
    background: rgb(255 255 255 / 15%);
  }

  &.focused,
  &:hover {
    background: rgb(75 115 255 / 50%);
  }
}

.binding-mode,
.tiling-direction,
.paused-button {
  background: rgb(255 255 255 / 15%);
  color: rgb(255 255 255 / 90%);
  border-radius: 2px;
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
}

.binding-mode {
  margin-right: 4px;
}

.logo,
.binding-mode,
.tiling-direction,
.paused-button {
  margin-right: 20px;
}

.cutesy {
  font-family: 'Chewy';
}
